RewriteEngine	On

RewriteBase	/eticaret
RewriteRule	^user-enter$	/eticaret/index.php?sayfaKodu=25 [L,NC]
RewriteRule	^kishi-ayakkabilari$  /eticaret/index.php?sayfaKodu=49 [L,NC]
RewriteRule	^qadin-ayakkabilari$  /eticaret/index.php?sayfaKodu=50 [L,NC]
RewriteRule	^user-bilgileri$  /eticaret/index.php?sayfaKodu=27 [L,NC]
RewriteRule	^adresler$  /eticaret/index.php?sayfaKodu=36 [L,NC]
RewriteRule	^sevimliler$  /eticaret/index.php?sayfaKodu=37 [L,NC]
RewriteRule	^sherhler$  /eticaret/index.php?sayfaKodu=38 [L,NC]
RewriteRule	^sifarishler$  /eticaret/index.php?sayfaKodu=39 [L,NC]
RewriteRule	^adesQeydiyyati$  /eticaret/index.php?sayfaKodu=42" [L,NC]
RewriteRule	^odemeSechimi$  /eticaret/index.php?sayfaKodu=61" [L,NC]
RewriteRule	^yeniAdres$  /eticaret/index.php?sayfaKodu=41" [L,NC]
RewriteRule	^sepet$  /eticaret/index.php?sayfaKodu=56" [L,NC]
RewriteRule	^ushaq-ayakkabilari$  /eticaret/index.php?sayfaKodu=51" [L,NC]
RewriteRule	^shifreniUnutdum$  /eticaret/index.php?sayfaKodu=28" [L,NC]
RewriteRule	^qeydiyyat$  /eticaret/index.php?sayfaKodu=22" [L,NC]
RewriteRule	^qeydiyyatSonuc$  /eticaret/index.php?sayfaKodu=26" [L,NC]
RewriteRule	^sevimlilerdenSil/(.*)$  /eticaret/index.php?sayfaKodu=47&id=$1" [L,NC]
RewriteRule	^sevimliler/(.*)$  /eticaret/index.php?sayfaKodu=37&sayfalama=$1" [L,NC]
RewriteRule	^havaleBildirimleriFormu$  /eticaret/index.php?sayfaKodu=9" [L,NC]
RewriteRule	^adsoyaddeyis(.*)$  /eticaret/index.php?sayfaKodu=33&adsoyad=$1" [L,NC]
RewriteRule	^email(.*)$  /eticaret/index.php?sayfaKodu=33&email=$1" [L,NC]
RewriteRule	^phone(.*)$  /eticaret/index.php?sayfaKodu=33&phone=$1" [L,NC]
RewriteRule	^sifre(.*)$  /eticaret/index.php?sayfaKodu=33&sifre=$1" [L,NC]
RewriteRule	^sex(.*)$  /eticaret/index.php?sayfaKodu=33&sex=$1" [L,NC]
RewriteRule	^faq$  /eticaret/index.php?sayfaKodu=21" [L,NC]
RewriteRule	^gizliliksozlesmeshi$  /eticaret/index.php?sayfaKodu=4" [L,NC]
RewriteRule	^kargomhardadi$  /eticaret/index.php?sayfaKodu=14" [L,NC]
RewriteRule	^meshafelisatissozlesmesi$  /eticaret/index.php?sayfaKodu=5" [L,NC]
RewriteRule	^iletishim$  /eticaret/index.php?sayfaKodu=16" [L,NC]
RewriteRule	^teslimat$  /eticaret/index.php?sayfaKodu=6" [L,NC]
RewriteRule	^iptalIade$  /eticaret/index.php?sayfaKodu=7" [L,NC]
RewriteRule	^bankaheshablarimiz$  /eticaret/index.php?sayfaKodu=8" [L,NC]
RewriteRule	^hevaletamam(.*)$  /eticaret/index.php?sayfaKodu=11" [L,NC]
RewriteRule	^hevalehata(.*)$  /eticaret/index.php?sayfaKodu=12" [L,NC]
RewriteRule	^hevaleeksik(.*)$  /eticaret/index.php?sayfaKodu=13" [L,NC]
RewriteRule	^hakkimizda$  /eticaret/index.php?sayfaKodu=1" [L,NC]
RewriteRule	^uyelikSozlezmesi$  /eticaret/index.php?sayfaKodu=2" [L,NC]
RewriteRule	^istifadeqaydalari$  /eticaret/index.php?sayfaKodu=3" [L,NC]
RewriteRule	^anaySehife$  /eticaret/index.php?sayfaKodu=0" [L,NC]
RewriteRule	^kishi-ayakkabilari/(.*)$  /eticaret/index.php?sayfaKodu=49&menuId=$1 [L,NC]
RewriteRule	^ushaq-ayakkabilari/(.*)$  /eticaret/index.php?sayfaKodu=51&menuId=$1 [L,NC]
RewriteRule	^ushaq-ayakkabisi/(.*)/(.*)$  /eticaret/index.php?sayfaKodu=52&id=$2 [L,NC]
RewriteRule	^qadin-ayakkabisi/(.*)/(.*)$  /eticaret/index.php?sayfaKodu=52&id=$2 [L,NC]
RewriteRule	^qadin-ayakkabilari/(.*)$  /eticaret/index.php?sayfaKodu=50&menuId=$1 [L,NC]
RewriteRule	^adresiYenile/(.*)$  /eticaret/index.php?sayfaKodu=43&id=$1" [L,NC]
RewriteRule	^adresiSil/(.*)$  /eticaret/index.php?sayfaKodu=40&id=$1" [L,NC]
RewriteRule	^adesYenile/(.*)$  /eticaret/index.php?sayfaKodu=44&id=$1" [L,NC]
RewriteRule	^kishi-ayakkabisi/(.*)/(.*)$   /eticaret/index.php?sayfaKodu=52&id=$2 [L,NC]
RewriteRule	^mail$  /eticaret/index.php?sayfaKodu=16" [L,NC]
RewriteRule	^mailtamam$  /eticaret/index.php?sayfaKodu=18 [L,NC]
RewriteRule	^mailhata$  /eticaret/index.php?sayfaKodu=19 [L,NC]
RewriteRule	^maileksik$  /eticaret/index.php?sayfaKodu=20 [L,NC]
RewriteRule	^alisverissepetibankahavalesiileodemetamam$  /eticaret/index.php?sayfaKodu=66 [L,NC]
RewriteRule	^yorumYap/(.*)$  /eticaret/index.php?sayfaKodu=45&id=$1 [L,NC]
RewriteRule	^cocukayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=51&sayfalama=$1&$2 [L,NC]
RewriteRule	^cocukayakkabisayfala/(.*)/(.*)$  /eticaret/index.php?sayfaKodu=51&sayfalama=$1&$2 [L,NC]
RewriteRule	^cocukayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=51&sayfalama=$1$2 [L,NC]
RewriteRule	^kadinkayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=50&sayfalama=$1&$2 [L,NC]
RewriteRule	^kadinkayakkabisayfala/(.*)/(.*)$  /eticaret/index.php?sayfaKodu=50&sayfalama=$1&$2 [L,NC]
RewriteRule	^kadinkayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=510&sayfalama=$1$2 [L,NC]
RewriteRule	^kishiayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=49&sayfalama=$1&$2 [L,NC]
RewriteRule	^kishiayakkabisayfala/(.*)/(.*)$  /eticaret/index.php?sayfaKodu=49&sayfalama=$1&$2 [L,NC]
RewriteRule	^kishiayakkabisayfala/(.*)(.*)$  /eticaret/index.php?sayfaKodu=49&sayfalama=$1$2 [L,NC]
RewriteRule	^yorumlariSayfala/(.*)$  /eticaret/index.php?sayfaKodu=38&sayfalama=$1& [L,NC]
RewriteRule	^yorumlariSayfala/(.*)$  /eticaret/index.php?sayfaKodu=38&sayfalama=$1 [L,NC]
RewriteRule	^yorumlariSayfala/(.*)$  /eticaret/index.php?sayfaKodu=38&sayfalama=$1 [L,NC]
RewriteRule	^adresKargo$  /eticaret/index.php?sayfaKodu=59 [L,NC]
RewriteRule	^odemeSecimi$  /eticaret/index.php?sayfaKodu=61 [L,NC]
RewriteRule	^odemeKartSonuc$  /eticaret/index.php?sayfaKodu=63 [L,NC]
RewriteRule	^alisveristamam$  /eticaret/index.php?sayfaKodu=65 [L,NC]


RewriteRule	^sifarishler$  /eticaret/index.php?sayfaKoduDis=0&sayfaKoduIc=53 [L,NC]