html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: Roboto;
   color: #646464;
   background: white;
   line-height: 1.5;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   text-decoration: none;
   border: 0;
   outline: 0;
   font-size: 14px;
}

.adminMain {
   width: 100%;
 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.adminEnter {
   width:450px;
   border: 1px solid black;
   padding: 30px 30px 40px 30px;
   margin: 0 auto;
   margin-top: 220px;
}
.adminEnter div {
   margin-top: 20px;
}
.adminEnter input {
   width: 250px;
   float: right;
   outline: none;
   height: 35px;
}
.adminEnter button {
   display: block;
   margin: 0 auto;
   background: green;
   padding: 5px;
   width: 120px;
   height: 30px;
   border: none;
   color: white;
   font-weight: 900;
   border-radius: 10px;
   margin-top: 30px;
}

.panelWrapper {
   width: 100%;
   display: grid;
   grid-template-columns: 30% 70%;
   height: max-content;
}
.panelWrapper__menu {
   background: #001A38;
   
   width: 100%;
   border-right: 5px solid red;
}

.panelWrapper__menu__logo {
   width: 100%;
   height: 90px;
   border-bottom: 2px solid red;
   display: flex;
   justify-content: center;
   align-items: center;
}
.panelWrapper__menu__logo a {
   width: 60%;
   height: 60%;
 
}
.panelWrapper__menu__logo img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   display: block;
   margin: 0 auto;
}

.menu__items {
   margin: 0;
   padding: 0;
   list-style: none;
}
.menu__items li {
   border-bottom: 1px dashed #00c8ff;
   padding: 10px 0 10px 5px;
}
.menu__items a {
   color: white;
   text-decoration: none;
   font-size: 24px;
}

.panel__header {
   background: orange;
   color: white;
   font-weight: bold;
   font-size: 18px;
   padding: 10px 0 10px 5px;
}

.siteayarlari__ayarlar {
   display: grid;
   grid-template-columns: 2fr 5fr;
   align-items: center;
   padding-left: 10px;
}
.siteayarlari__ayarlar input {
   width: 100%;
   height: 40px;
   border: 1px solid gray;
   padding-left: 5px;
   color: black;
   font-weight: 900;
}
.siteayarlari__ayarlar div {
   margin-top: 15px;
}
.photo {
   padding-top: 15px;
}
.photo input{
   border: none !important;
   padding: 0 !important;
}
.sozlesmeMetinleri {
   padding: 10px 0 0 20px;
}
.siteayarlari button {
   display: block;
   margin: 20px auto;
}
.sozlesmeMetinleriElement {
   width: 100%;
   display: grid;
   grid-template-columns: 30% 70%;
   margin-top: 20px;
}

.sozlesmeMetinleriElement__desc {
   width: 100%;
   height: 220px;
   border: 1px solid gray
}

.sozclass {
   outline: none;
   border: none;
   border-radius: 10px;
   display: block;
   margin: 20px auto;
}

.left__image {
   width: 140px;
   height: 40px;
}
.left__image img {
   width: 100%;
   height: 100%;
}
.bankahesaplari__item__left__controlls {
   margin-top: 20px;
}
.bankahesaplari__item__left__controlls span:first-child {
   margin-right: 20px;
}
.bankahesaplari__item__left__controlls a {
   text-decoration: none;
   color: black
}
.bankahesaplari__item__left__controlls span img {
   margin-right: 3px;
   margin-bottom: 3px;
}
.bankahesaplari {
   padding-left: 5px;
}
.bankahesaplari__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
}

.bankahesaplari__item__right__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.bankahesaplari__item__right {
   width: 65%;
}
.bankahesaplari__item__right__top span:first-child, .bankahesaplari__item__right__bottom span:first-child, .bankahesaplari__item__right__footer span:first-child {
   font-weight: bold;
   color: black;
   margin-right: 20px;
}
.bankahesaplari__item__right__bottom {
   margin: 10px 0 10px 0;
}
.bankahesaplari__item__right__footer {
   width: max-content;
}

.addBank {
   width: max-content;
   padding: 5px 10px;
   background: black;
}
.addBank a {
   text-decoration: none;
   color: white;
   font-weight: 900;
}

.kargo__item {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 4fr 3fr;
   align-items: center; 
   column-gap: 20px;
}
.kargo__item__img {
   height: 50px;
}

.kargo__item__img img{
   height: 100%;
   width: 90%;
   object-fit: contain;
}
.kargo__item__controlls {
   text-align: right;
   width: 100%;
}
.kargo__item__controlls a {
   text-decoration: none;
   color: black
}
.kargolar__wrapper {
   padding-left: 5px;
}

.bannerler__wrapper__item {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   align-items: center;
   margin-top: 20px;
}

.bannerler__wrapper__item__name__title, .bannerler__wrapper__item__place__title, .bannerler__wrapper__item__see__header, .bannerler__wrapper__item__img__title, .bannerler__wrapper__item__controlls__title {
   color: black;
   font-weight: 900;
   text-align: center;
}
.bannerler__wrapper__item__img img{
   width: 40px;
   height: 40px;
   object-fit: contain;
   display: block;
   margin: 0 auto;
}
.bannerler__wrapper__item__name, .bannerler__wrapper__item__place, .bannerler__wrapper__item__see {
   text-align: center;
}
.bannerler__wrapper__item__c a {
   text-decoration: none;
   color: black;
}
.bannerler__wrapper__item__c a:nth-child(1) {
   margin-right: 10px;
}
.banner__kontrol__subdiv {
   margin-left: 25px;
}
.siteayarlari__ayarlar select {
   width: 100%;
   height: 50px;
}
.destekwrapper, .destekupdatewrapper__item{
   padding-left: 5px;
}
.destekwrapper__item {
   margin-top: 40px;
}
.destekwrapper__item__title {
   color: black;
   font-weight: 900;
}
.destekwrapper__item__controlls {
   margin-top: 20px;
   float: right;
}
.destekwrapper__item__controlls a {
   text-decoration: none;
   color: black;
}
.destekwrapper__item__controlls a:first-child {
   margin-right: 20px;
}
.destekwrapper__item__controlls a img{
   margin-bottom: 3px;
   margin-right: 10px;
}
.destekupdatewrapper__item {
   padding-top: 20px;
   width: 400px;
   margin: 0 auto;
}
.destekwrapper__item__title {
   height: 50px;
}
.destekupdatewrapper__item .destekwrapper__item__title, .destekwrapper__item__desc {
   width: 100%;
}
.destekwrapper__item__title input {
   width: 100%;
   height: 100%;
   padding: 0 0 0 10px;
}
.destekupdatewrapper__item .destekwrapper__item__desc {
   margin-top: 30px;
}
.destekwrapper__item__desc textarea {
   width: 100%;
   padding: 10px 0 0 10px;
}
.menu__item__footer__right a {
   text-decoration: none;
   color: black;
}
.menu__item__header {
   font-size: 16px;
   color: black;
   font-weight: 900;
}
.menu__item__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu__item {
   margin-top: 20px;
}
.menu__item__footer img {
   margin: 0 5px 0 5px;
}

.admin__item {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin-top: 20px;
   column-gap: 5px;
}
.admin__item__controlls{
   width: max-content;
}
.admin__item__controlls a {
   text-decoration: none;
   color: black;
   margin-right: 5px;
}
.admin__item__controlls a img {
   margin-right: 5px;
   margin-bottom: 3px;
}
.adminsil {
   margin-right: 14px;
}

.users__item {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   margin-top: 20px;
   column-gap: 10px
}
.users__item div {
   text-align: left;
   /* border: 1px solid red; */
   width: max-content;
   text-align: right !important;
}
.users__item span {
   color: black;
   font-weight: bold;
   text-align: left !important;
}
.users__item__title__name {
   text-align: left;
}
.kargolar__wrapper .manWrapper__items__search {
   margin-top: 20px;
}
.comment__item{
   margin-top: 20px;
}
.comment__item__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}
.comment__item__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.urun {
   display: grid;
   grid-template-columns: 1fr 6fr 3fr;
   align-items: center;
   column-gap: 20px
}

.urun__img img {
   width: 100%;
}

.urun__controlls{
   text-align: right;
   display: flex;
   flex-direction: column;
   height: 66px;
   justify-content: flex-end
}
.urun__controlls a {
   text-decoration: none;
   color: black
}
.urun__controlls a img {
   margin-right: 5px;
   margin-bottom: 3px;
}
.variant__wrapper {
   width: 100%;
   display: flex;
   align-items: center;
   padding-left: 10px;
   margin-top: 20px;
   justify-content: space-between;
}
.variant__wrapper input {
   height: 35px;
}
.good__desc {
   width: 100%;
   height: 80px;
}

.add__good__img, .add__good__variant, .add__good__variants {
   width: 20px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid gray;
   cursor: pointer;
   margin-left: 9px;
}

.photoTitle, .photoOwn {
   display: none;
}
.sifariswrapper {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
   column-gap: 10px;
   text-align: left;
}
.sifariswrapper a:last-child {
   text-decoration: none;
   color: black;
}

.urunMainWrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
   height: 400px;
   margin-top: 20px;
}
.urunMainWrapper__img {
   width: 100%;
   height: 300px;
}
.urunMainWrapper__img img {
   width: 70%;
   height: 100%;
}
.urunMainWrapper__desc {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   row-gap: 10px;
}
.main__detay {
   margin-top: 20px;
}
.main__detay div{
   width: 800px;
   display: flex;
   text-align: left;
}
.gonder__form {
   width: 100%;
}
.gonder__form input {
   width: 100%;
   margin-top: 5px;
   height: 40px;
}
.hevale__item__wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.hevale__item_title {
   color: black;
   font-weight: bold;
   margin: 5px 0 10px 0;
}
.hevale__item {
   margin-top: 20px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.pano__wrapper {
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
.pano__wrapper__item {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 10px;
}
.pano__wrapper__item a {
   text-decoration: none;
   color: black;
   text-align: center;
}
.pano__wrapper__item__title {
   font-size: 16px;
   margin-bottom: 10px;
}
.pano__wrapper__item__count {
   font-size: 15px;
   font-weight: 900;
}
